openapi: 3.2.0
info:
  title: Ascend Elements WordPress REST Elementor Pro/v1 API
  version: wp/v2
  summary: The machine-readable REST surface published at ascendelements.com/wp-json.
  description: 'The WordPress REST API surface published by Ascend Elements at https://ascendelements.com/wp-json/. This document was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index -- and component schemas were harvested from live HTTP OPTIONS responses on the anonymously readable wp/v2 collections. Alongside the WordPress core content collections it covers three company-specific custom post types: `media_coverage` (press coverage), `sourcing-events` (open supplier bid packages for the Apex 1 plant) and `job` (careers board), with the `job_category` and `job_location` taxonomies. It is NOT a product API for Ascend Elements'' battery materials, recycling or logistics business -- the company publishes no public developer API for those. Most non-wp/v2 namespaces (Elementor, Yoast, Site Mailer, Image Optimizer, WP Engine, Complianz admin routes) and the WordPress Abilities API require an authenticated administrative session and return rest_forbidden / 401 anonymously.'
  contact:
    email: info@ascendelements.com
    url: https://ascendelements.com/
  x-derived-from: https://ascendelements.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://ascendelements.com/wp-json
  description: Ascend Elements WordPress REST API
security:
- {}
- applicationPassword: []
- cookieNonce: []
tags:
- name: elementor-pro/v1
paths:
  /elementor-pro/v1:
    get:
      operationId: getElementorProV1
      summary: GET /elementor-pro/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/elementor-pro/v1` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: elementor-pro/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/get-post-type-taxonomies:
    post:
      operationId: createElementorProV1GetPostTypeTaxonomies
      summary: POST /elementor-pro/v1/get-post-type-taxonomies
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/elementor-pro/v1/get-post-type-taxonomies` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                post_type:
                  type: string
                  description: The post type for which to fetch the list of taxonomies.
              required:
              - post_type
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/license/get-license-status:
    get:
      operationId: getElementorProV1LicenseGetLicenseStatus
      summary: GET /elementor-pro/v1/license/get-license-status
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/elementor-pro/v1/license/get-license-status` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/license/tier-features:
    get:
      operationId: getElementorProV1LicenseTierFeatures
      summary: GET /elementor-pro/v1/license/tier-features
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/elementor-pro/v1/license/tier-features` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/posts-widget:
    get:
      operationId: getElementorProV1PostsWidget
      summary: GET /elementor-pro/v1/posts-widget
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/elementor-pro/v1/posts-widget` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/refresh-loop:
    post:
      operationId: createElementorProV1RefreshLoop
      summary: POST /elementor-pro/v1/refresh-loop
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/elementor-pro/v1/refresh-loop` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                post_id:
                  type: integer
                  description: The post ID of the page containing the loop.
                widget_id:
                  type: string
                  description: The ID of the loop widget.
                widget_filters:
                  type: object
                  description: The filters for the loop widget.
                widget_model:
                  type: object
                  description: The model of the loop widget. In Editor mode only.
                pagination_base_url:
                  type: string
              required:
              - post_id
              - widget_id
              - widget_filters
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/refresh-search:
    post:
      operationId: createElementorProV1RefreshSearch
      summary: POST /elementor-pro/v1/refresh-search
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/elementor-pro/v1/refresh-search` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                post_id:
                  type: integer
                  description: The post ID of the page containing the loop.
                widget_id:
                  type: string
                  description: The ID of the loop widget.
                widget_model:
                  type: object
                  description: The model of the loop widget. In Editor mode only.
              required:
              - post_id
              - widget_id
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
components:
  schemas:
    RestError:
      type: object
      description: The WordPress REST API error envelope, observed live on this host (GET /wp-json/wp-abilities/v1/abilities returns rest_forbidden with status 401; GET /wp-json/wp/v2/menus returns rest_cannot_view with status 401).
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_cannot_view, rest_no_route.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the live route index at https://ascendelements.com/wp-json/ under authentication.application-passwords. Username + application password presented as HTTP Basic on the Authorization header. Issued at https://ascendelements.com/wp-admin/authorize-application.php.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication paired with a nonce on the X-WP-Nonce header, for same-origin first-party callers. Advertised via the access-control-allow-headers response header observed live on this host.
