openapi: 3.2.0
info:
  title: Ascend Elements WordPress REST Wp Abilities/v1 API
  version: wp/v2
  summary: The machine-readable REST surface published at ascendelements.com/wp-json.
  description: 'The WordPress REST API surface published by Ascend Elements at https://ascendelements.com/wp-json/. This document was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index -- and component schemas were harvested from live HTTP OPTIONS responses on the anonymously readable wp/v2 collections. Alongside the WordPress core content collections it covers three company-specific custom post types: `media_coverage` (press coverage), `sourcing-events` (open supplier bid packages for the Apex 1 plant) and `job` (careers board), with the `job_category` and `job_location` taxonomies. It is NOT a product API for Ascend Elements'' battery materials, recycling or logistics business -- the company publishes no public developer API for those. Most non-wp/v2 namespaces (Elementor, Yoast, Site Mailer, Image Optimizer, WP Engine, Complianz admin routes) and the WordPress Abilities API require an authenticated administrative session and return rest_forbidden / 401 anonymously.'
  contact:
    email: info@ascendelements.com
    url: https://ascendelements.com/
  x-derived-from: https://ascendelements.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://ascendelements.com/wp-json
  description: Ascend Elements WordPress REST API
security:
- {}
- applicationPassword: []
- cookieNonce: []
tags:
- name: wp-abilities/v1
paths:
  /wp-abilities/v1:
    get:
      operationId: getWpAbilitiesV1
      summary: GET /wp-abilities/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: wp-abilities/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp-abilities/v1/abilities:
    get:
      operationId: getWpAbilitiesV1Abilities
      summary: GET /wp-abilities/v1/abilities
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/abilities` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: category
        in: query
        schema:
          type: string
        description: Limit results to abilities in specific ability category.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp-abilities/v1/abilities/{name}:
    parameters:
    - name: name
      in: path
      required: true
      description: Path segment `name` from the WordPress route pattern `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+)`.
      schema:
        type: string
    get:
      operationId: getWpAbilitiesV1AbilitiesName
      summary: GET /wp-abilities/v1/abilities/{name}
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+)` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp-abilities/v1/abilities/{name}/run:
    parameters:
    - name: name
      in: path
      required: true
      description: Path segment `name` from the WordPress route pattern `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run`.
      schema:
        type: string
    get:
      operationId: getWpAbilitiesV1AbilitiesNameRun
      summary: GET /wp-abilities/v1/abilities/{name}/run
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      parameters:
      - name: input
        in: query
        schema:
          type:
          - integer
          - number
          - boolean
          - string
          - array
          - object
          default: null
        description: Input parameters for the ability execution.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createWpAbilitiesV1AbilitiesNameRun
      summary: POST /wp-abilities/v1/abilities/{name}/run
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type:
                  - integer
                  - number
                  - boolean
                  - string
                  - array
                  - object
                  default: null
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateWpAbilitiesV1AbilitiesNameRun
      summary: PUT /wp-abilities/v1/abilities/{name}/run
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type:
                  - integer
                  - number
                  - boolean
                  - string
                  - array
                  - object
                  default: null
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: patchWpAbilitiesV1AbilitiesNameRun
      summary: PATCH /wp-abilities/v1/abilities/{name}/run
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type:
                  - integer
                  - number
                  - boolean
                  - string
                  - array
                  - object
                  default: null
                  description: Input parameters for the ability execution.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteWpAbilitiesV1AbilitiesNameRun
      summary: DELETE /wp-abilities/v1/abilities/{name}/run
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/abilities/(?P<name>[a-zA-Z0-9\-\/]+?)/run` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      parameters:
      - name: input
        in: query
        schema:
          type:
          - integer
          - number
          - boolean
          - string
          - array
          - object
          default: null
        description: Input parameters for the ability execution.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp-abilities/v1/categories:
    get:
      operationId: getWpAbilitiesV1Categories
      summary: GET /wp-abilities/v1/categories
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/categories` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /wp-abilities/v1/categories/{slug}:
    parameters:
    - name: slug
      in: path
      required: true
      description: Path segment `slug` from the WordPress route pattern `/wp-abilities/v1/categories/(?P<slug>[a-z0-9]+(?:-[a-z0-9]+)*)`.
      schema:
        type: string
    get:
      operationId: getWpAbilitiesV1CategoriesSlug
      summary: GET /wp-abilities/v1/categories/{slug}
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route `/wp-abilities/v1/categories/(?P<slug>[a-z0-9]+(?:-[a-z0-9]+)*)` in the `wp-abilities/v1` namespace.
      tags:
      - wp-abilities/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
components:
  schemas:
    RestError:
      type: object
      description: The WordPress REST API error envelope, observed live on this host (GET /wp-json/wp-abilities/v1/abilities returns rest_forbidden with status 401; GET /wp-json/wp/v2/menus returns rest_cannot_view with status 401).
      properties:
        code:
          type: string
          description: Machine-readable error code, e.g. rest_forbidden, rest_cannot_view, rest_no_route.
        message:
          type: string
          description: Human-readable error message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code.
      required:
      - code
      - message
  securitySchemes:
    applicationPassword:
      type: http
      scheme: basic
      description: WordPress Application Passwords, advertised by the live route index at https://ascendelements.com/wp-json/ under authentication.application-passwords. Username + application password presented as HTTP Basic on the Authorization header. Issued at https://ascendelements.com/wp-admin/authorize-application.php.
    cookieNonce:
      type: apiKey
      in: header
      name: X-WP-Nonce
      description: WordPress cookie authentication paired with a nonce on the X-WP-Nonce header, for same-origin first-party callers. Advertised via the access-control-allow-headers response header observed live on this host.
