openapi: 3.1.0
info:
  title: Ascend Elements WordPress REST API
  version: wp/v2
  summary: The machine-readable REST surface published at ascendelements.com/wp-json.
  description: 'The WordPress REST API surface published by Ascend Elements at https://ascendelements.com/wp-json/. This document
    was DERIVED mechanically from the live route index -- every path, method and parameter below appears in that index --
    and component schemas were harvested from live HTTP OPTIONS responses on the anonymously readable wp/v2 collections. Alongside
    the WordPress core content collections it covers three company-specific custom post types: `media_coverage` (press coverage),
    `sourcing-events` (open supplier bid packages for the Apex 1 plant) and `job` (careers board), with the `job_category`
    and `job_location` taxonomies. It is NOT a product API for Ascend Elements'' battery materials, recycling or logistics
    business -- the company publishes no public developer API for those. Most non-wp/v2 namespaces (Elementor, Yoast, Site
    Mailer, Image Optimizer, WP Engine, Complianz admin routes) and the WordPress Abilities API require an authenticated administrative
    session and return rest_forbidden / 401 anonymously.'
  contact:
    email: info@ascendelements.com
    url: https://ascendelements.com/
  x-derived-from: https://ascendelements.com/wp-json/
  x-derived-on: '2026-08-02'
  x-derived-by: API Evangelist enrichment pipeline (local-v1)
servers:
- url: https://ascendelements.com/wp-json
  description: Ascend Elements WordPress REST API
tags:
- name: complianz/v1
- name: core
- name: cptui/v1
- name: ea11y/v1
- name: elementor-ai/v1
- name: elementor-one/v1
- name: elementor-pro/v1
- name: elementor/v1
- name: elementor/v1/documents
- name: elementor/v1/feedback
- name: facetwp/v1
- name: image-optimizer/v1
- name: oembed/1.0
- name: site-mailer/v1
- name: wp-abilities/v1
- name: wp-block-editor/v1
- name: wp-site-health/v1
- name: wp/v2
- name: wpe/cache-plugin/v1
- name: wpe_sign_on_plugin/v1
- name: yoast/v1
paths:
  /:
    get:
      operationId: getRoot
      summary: GET /
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/` in the `core` namespace.
      tags:
      - core
      parameters:
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /batch/v1:
    post:
      operationId: createBatchV1
      summary: POST /batch/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/batch/v1` in the `core` namespace.
      tags:
      - core
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                validation:
                  type: string
                  enum:
                  - require-all-validate
                  - normal
                  default: normal
                requests:
                  type: array
                  items:
                    type: object
              required:
              - requests
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1:
    get:
      operationId: getComplianzV1
      summary: GET /complianz/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: complianz/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/banner:
    get:
      operationId: getComplianzV1Banner
      summary: GET /complianz/v1/banner
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/banner` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/consent-area/{post_id}/{block_id}:
    parameters:
    - name: post_id
      in: path
      required: true
      description: Path segment `post_id` from the WordPress route pattern `/complianz/v1/consent-area/(?P<post_id>([0-9]+))/(?P<block_id>([a-z0-9-_]+))`.
      schema:
        type: string
    - name: block_id
      in: path
      required: true
      description: Path segment `block_id` from the WordPress route pattern `/complianz/v1/consent-area/(?P<post_id>([0-9]+))/(?P<block_id>([a-z0-9-_]+))`.
      schema:
        type: string
    get:
      operationId: getComplianzV1ConsentAreaPostIdBlockId
      summary: GET /complianz/v1/consent-area/{post_id}/{block_id}
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/consent-area/(?P<post_id>([0-9]+))/(?P<block_id>([a-z0-9-_]+))` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/cookie_data:
    get:
      operationId: getComplianzV1CookieData
      summary: GET /complianz/v1/cookie_data
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/cookie_data` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/datarequests:
    post:
      operationId: createComplianzV1Datarequests
      summary: POST /complianz/v1/datarequests
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/datarequests` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/documents:
    get:
      operationId: getComplianzV1Documents
      summary: GET /complianz/v1/documents
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/documents` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/manage_consent_html:
    get:
      operationId: getComplianzV1ManageConsentHtml
      summary: GET /complianz/v1/manage_consent_html
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/manage_consent_html` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/store_cookies:
    post:
      operationId: createComplianzV1StoreCookies
      summary: POST /complianz/v1/store_cookies
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/store_cookies` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/track:
    post:
      operationId: createComplianzV1Track
      summary: POST /complianz/v1/track
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/track` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/wsc-checks:
    post:
      operationId: createComplianzV1WscChecks
      summary: POST /complianz/v1/wsc-checks
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/wsc-checks` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /complianz/v1/wsc-scan:
    post:
      operationId: createComplianzV1WscScan
      summary: POST /complianz/v1/wsc-scan
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/complianz/v1/wsc-scan` in the `complianz/v1` namespace.
      tags:
      - complianz/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /cptui/v1:
    get:
      operationId: getCptuiV1
      summary: GET /cptui/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/cptui/v1` in the `cptui/v1` namespace.
      tags:
      - cptui/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: cptui/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /cptui/v1/dismiss-pro-upsell:
    post:
      operationId: createCptuiV1DismissProUpsell
      summary: POST /cptui/v1/dismiss-pro-upsell
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/cptui/v1/dismiss-pro-upsell` in the `cptui/v1` namespace.
      tags:
      - cptui/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1:
    get:
      operationId: getEa11yV1
      summary: GET /ea11y/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: ea11y/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/analytics/statistic:
    get:
      operationId: getEa11yV1AnalyticsStatistic
      summary: GET /ea11y/v1/analytics/statistic
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/analytics/statistic` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/connect/authorize:
    post:
      operationId: createEa11yV1ConnectAuthorize
      summary: POST /ea11y/v1/connect/authorize
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/connect/authorize` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                clearSession:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/connect/deactivate:
    post:
      operationId: createEa11yV1ConnectDeactivate
      summary: POST /ea11y/v1/connect/deactivate
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/connect/deactivate` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/connect/disconnect:
    post:
      operationId: createEa11yV1ConnectDisconnect
      summary: POST /ea11y/v1/connect/disconnect
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/connect/disconnect` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/connect/switch-domain:
    post:
      operationId: createEa11yV1ConnectSwitchDomain
      summary: POST /ea11y/v1/connect/switch-domain
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/connect/switch-domain` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/clear-cache:
    delete:
      operationId: deleteEa11yV1RemediationClearCache
      summary: DELETE /ea11y/v1/remediation/clear-cache
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/clear-cache` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/dismiss-heading-issue:
    post:
      operationId: createEa11yV1RemediationDismissHeadingIssue
      summary: POST /ea11y/v1/remediation/dismiss-heading-issue
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/dismiss-heading-issue` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/global-item:
    post:
      operationId: createEa11yV1RemediationGlobalItem
      summary: POST /ea11y/v1/remediation/global-item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateEa11yV1RemediationGlobalItem
      summary: PUT /ea11y/v1/remediation/global-item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: patchEa11yV1RemediationGlobalItem
      summary: PATCH /ea11y/v1/remediation/global-item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteEa11yV1RemediationGlobalItem
      summary: DELETE /ea11y/v1/remediation/global-item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/global-items:
    put:
      operationId: updateEa11yV1RemediationGlobalItems
      summary: PUT /ea11y/v1/remediation/global-items
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-items` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: patchEa11yV1RemediationGlobalItems
      summary: PATCH /ea11y/v1/remediation/global-items
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-items` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteEa11yV1RemediationGlobalItems
      summary: DELETE /ea11y/v1/remediation/global-items
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-items` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/global-items-group:
    put:
      operationId: updateEa11yV1RemediationGlobalItemsGroup
      summary: PUT /ea11y/v1/remediation/global-items-group
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-items-group` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: patchEa11yV1RemediationGlobalItemsGroup
      summary: PATCH /ea11y/v1/remediation/global-items-group
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/global-items-group` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/heading-level:
    post:
      operationId: createEa11yV1RemediationHeadingLevel
      summary: POST /ea11y/v1/remediation/heading-level
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/heading-level` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/item:
    post:
      operationId: createEa11yV1RemediationItem
      summary: POST /ea11y/v1/remediation/item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateEa11yV1RemediationItem
      summary: PUT /ea11y/v1/remediation/item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: patchEa11yV1RemediationItem
      summary: PATCH /ea11y/v1/remediation/item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteEa11yV1RemediationItem
      summary: DELETE /ea11y/v1/remediation/item
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/item` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/items:
    get:
      operationId: getEa11yV1RemediationItems
      summary: GET /ea11y/v1/remediation/items
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/items` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: patchEa11yV1RemediationItems
      summary: PATCH /ea11y/v1/remediation/items
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/items` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    delete:
      operationId: deleteEa11yV1RemediationItems
      summary: DELETE /ea11y/v1/remediation/items
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/items` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/register:
    post:
      operationId: createEa11yV1RemediationRegister
      summary: POST /ea11y/v1/remediation/register
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/register` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/set-alt-text:
    post:
      operationId: createEa11yV1RemediationSetAltText
      summary: POST /ea11y/v1/remediation/set-alt-text
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/set-alt-text` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/remediation/trigger-save:
    post:
      operationId: createEa11yV1RemediationTriggerSave
      summary: POST /ea11y/v1/remediation/trigger-save
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/remediation/trigger-save` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/reviews/review:
    post:
      operationId: createEa11yV1ReviewsReview
      summary: POST /ea11y/v1/reviews/review
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/reviews/review` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/settings/get-media:
    post:
      operationId: createEa11yV1SettingsGetMedia
      summary: POST /ea11y/v1/settings/get-media
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/settings/get-media` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /ea11y/v1/settings/get-settings:
    get:
      operationId: getEa11yV1SettingsGetSettings
      summary: GET /ea11y/v1/settings/get-settings
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/ea11y/v1/settings/get-settings` in the `ea11y/v1` namespace.
      tags:
      - ea11y/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-ai/v1:
    get:
      operationId: getElementorAiV1
      summary: GET /elementor-ai/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-ai/v1` in the `elementor-ai/v1` namespace.
      tags:
      - elementor-ai/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: elementor-ai/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-ai/v1/permissions:
    get:
      operationId: getElementorAiV1Permissions
      summary: GET /elementor-ai/v1/permissions
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-ai/v1/permissions` in the `elementor-ai/v1` namespace.
      tags:
      - elementor-ai/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1:
    get:
      operationId: getElementorOneV1
      summary: GET /elementor-one/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: elementor-one/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/connect/authorize:
    post:
      operationId: createElementorOneV1ConnectAuthorize
      summary: POST /elementor-one/v1/connect/authorize
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/connect/authorize` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                clearSession:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/connect/deactivate:
    post:
      operationId: createElementorOneV1ConnectDeactivate
      summary: POST /elementor-one/v1/connect/deactivate
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/connect/deactivate` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/connect/disconnect:
    post:
      operationId: createElementorOneV1ConnectDisconnect
      summary: POST /elementor-one/v1/connect/disconnect
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/connect/disconnect` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/connect/switch-domain:
    post:
      operationId: createElementorOneV1ConnectSwitchDomain
      summary: POST /elementor-one/v1/connect/switch-domain
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/connect/switch-domain` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/plugins:
    get:
      operationId: getElementorOneV1Plugins
      summary: GET /elementor-one/v1/plugins
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/plugins` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: status
        in: query
        schema:
          type: array
          items:
            type: string
            enum:
            - inactive
            - active
        description: Limits results to plugins with the given status.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createElementorOneV1Plugins
      summary: POST /elementor-one/v1/plugins
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/plugins` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                  enum:
                  - angie
                  - manage
                  - elementor
                  - elementor-pro
                  - site-mailer
                  - image-optimization
                  - pojo-accessibility
                  description: WordPress.org plugin directory slug.
                status:
                  type: string
                  enum:
                  - inactive
                  - active
                  default: inactive
                  description: The plugin activation status.
              required:
              - slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/plugins/{slug}/activate:
    parameters:
    - name: slug
      in: path
      required: true
      description: Path segment `slug` from the WordPress route pattern `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/activate`.
      schema:
        type: string
    post:
      operationId: createElementorOneV1PluginsSlugActivate
      summary: POST /elementor-one/v1/plugins/{slug}/activate
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/activate` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/plugins/{slug}/deactivate:
    parameters:
    - name: slug
      in: path
      required: true
      description: Path segment `slug` from the WordPress route pattern `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/deactivate`.
      schema:
        type: string
    post:
      operationId: createElementorOneV1PluginsSlugDeactivate
      summary: POST /elementor-one/v1/plugins/{slug}/deactivate
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/deactivate` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/plugins/{slug}/migration/rollback:
    parameters:
    - name: slug
      in: path
      required: true
      description: Path segment `slug` from the WordPress route pattern `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/migration/rollback`.
      schema:
        type: string
    post:
      operationId: createElementorOneV1PluginsSlugMigrationRollback
      summary: POST /elementor-one/v1/plugins/{slug}/migration/rollback
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/migration/rollback` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/plugins/{slug}/migration/run:
    parameters:
    - name: slug
      in: path
      required: true
      description: Path segment `slug` from the WordPress route pattern `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/migration/run`.
      schema:
        type: string
    post:
      operationId: createElementorOneV1PluginsSlugMigrationRun
      summary: POST /elementor-one/v1/plugins/{slug}/migration/run
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/migration/run` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                force:
                  type: boolean
                  default: true
                  description: Force migration even if the plugin is already connected.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/plugins/{slug}/upgrade:
    parameters:
    - name: slug
      in: path
      required: true
      description: Path segment `slug` from the WordPress route pattern `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/upgrade`.
      schema:
        type: string
    post:
      operationId: createElementorOneV1PluginsSlugUpgrade
      summary: POST /elementor-one/v1/plugins/{slug}/upgrade
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/plugins/(?P<slug>[\w\-]+)/upgrade` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                  - active
                  description: The plugin activation status.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/settings:
    get:
      operationId: getElementorOneV1Settings
      summary: GET /elementor-one/v1/settings
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/settings` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    post:
      operationId: createElementorOneV1Settings
      summary: POST /elementor-one/v1/settings
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/settings` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    put:
      operationId: updateElementorOneV1Settings
      summary: PUT /elementor-one/v1/settings
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/settings` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
    patch:
      operationId: patchElementorOneV1Settings
      summary: PATCH /elementor-one/v1/settings
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/settings` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/themes:
    post:
      operationId: createElementorOneV1Themes
      summary: POST /elementor-one/v1/themes
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/themes` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                slug:
                  type: string
                  description: WordPress.org theme directory slug.
                status:
                  type: string
                  enum:
                  - inactive
                  - active
                  default: inactive
                  description: The theme activation status.
              required:
              - slug
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/themes/{slug}/activate:
    parameters:
    - name: slug
      in: path
      required: true
      description: Path segment `slug` from the WordPress route pattern `/elementor-one/v1/themes/(?P<slug>[\w\-]+)/activate`.
      schema:
        type: string
    post:
      operationId: createElementorOneV1ThemesSlugActivate
      summary: POST /elementor-one/v1/themes/{slug}/activate
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/themes/(?P<slug>[\w\-]+)/activate` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/top-bar/feedback:
    post:
      operationId: createElementorOneV1TopBarFeedback
      summary: POST /elementor-one/v1/top-bar/feedback
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/top-bar/feedback` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: string
                subject:
                  type: string
                title:
                  type: string
                description:
                  type: string
                countryCode:
                  type: string
              required:
              - product
              - subject
              - title
              - description
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-one/v1/top-bar/notifications:
    get:
      operationId: getElementorOneV1TopBarNotifications
      summary: GET /elementor-one/v1/top-bar/notifications
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-one/v1/top-bar/notifications` in the `elementor-one/v1` namespace.
      tags:
      - elementor-one/v1
      parameters:
      - name: app_name
        in: query
        schema:
          type: string
        required: true
      - name: app_version
        in: query
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1:
    get:
      operationId: getElementorProV1
      summary: GET /elementor-pro/v1
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-pro/v1` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      parameters:
      - name: namespace
        in: query
        schema:
          default: elementor-pro/v1
      - name: context
        in: query
        schema:
          default: view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/get-post-type-taxonomies:
    post:
      operationId: createElementorProV1GetPostTypeTaxonomies
      summary: POST /elementor-pro/v1/get-post-type-taxonomies
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-pro/v1/get-post-type-taxonomies` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                post_type:
                  type: string
                  description: The post type for which to fetch the list of taxonomies.
              required:
              - post_type
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/license/get-license-status:
    get:
      operationId: getElementorProV1LicenseGetLicenseStatus
      summary: GET /elementor-pro/v1/license/get-license-status
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
        `/elementor-pro/v1/license/get-license-status` in the `elementor-pro/v1` namespace.
      tags:
      - elementor-pro/v1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication required or insufficient capability (rest_forbidden / rest_cannot_view). Observed live
            on wp-abilities/v1 and wp/v2/menus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        '404':
          description: No route or resource matched (rest_no_route).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
        default:
          description: WordPress REST error envelope.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RestError'
  /elementor-pro/v1/license/tier-features:
    get:
      operationId: getElementorProV1LicenseTierFeatures
      summary: GET /elementor-pro/v1/license/tier-features
      description: Operation advertised by the WordPress REST route index at https://ascendelements.com/wp-json/ for route
[...]
